* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  width: 100%;
  color: #f1f1f1;
  background-color: rgb(199, 6, 6);
  min-height: 100dvh;
}

h1 {
  text-align: center;
  font-size: 3.2rem;
  font-family: cursive;
  padding: 0.3rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 9.5rem;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    position: relative;
    width: 100%;
    flex-direction: column-reverse;
    gap: 3vh;
    margin: 0;
    padding: 0.6rem;
  }
}

.user-input {
  margin: 1.5rem 0 1.6rem 0;
}

input, button, .color {
  font-size: 1rem;
  font-family: serif;
  border: none;
  border-radius: 15px;
}

input {
  width: 72%;
  margin-right: 0.5rem;
}

input, .generate {
  padding: 12px 12px;
}

@media (max-width: 768px) {
  .user-input {
    width: 95%;
    position: absolute;
    top: 0;
    margin: 0;
  }

  input {
    margin-right: 0.2rem;
  }

  input, .generate {
    padding: 10px 12px;
  }

  input, button, .color {
    font-size: 0.9rem;
    border-radius: 12px;
  }
}

button {
  width: 25%;
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    background-color: rgb(252, 168, 168);
    transition: transform 0.1s ease;
  }
}

@media (min-width: 768px) {
  button:active {
    transform: scale(0.95);
  }
}

.tool {
  width: 100%;
  height: 3rem;
  font-weight: 600;
  margin-top: 1.3rem;
}

button, .color {
  font-family: 'Courier New', Courier, monospace;
}

.color {
  width: 100%;
  min-width: 420px;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  background-color: #f1f1f1;
  padding: 1.4rem 1.2rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .color {
    font-size: 0.9rem;
    width: 100%;
    min-width: 0;
    padding: 0.8rem;
    margin-bottom: 1rem;
  }
}

.color-text {
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .color-text {
    margin-bottom: 0.4rem;
  }
}

.palette {
  position: relative;
  width: 79%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
  margin: auto;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .palette {
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    margin: 0;
    overflow-x: scroll;
  }
}

.color-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 5rem;
  border: 1px solid #c1c1c1;
  background-color: #d9d9d9;
  z-index: 1;
}

.menu {
  color: #333;
  font-weight: 600;
  background-color: #d9d9d9;
  border: none;
  border-radius: unset;
  border: 1px solid #c1c1c1;
  text-align: left;
  padding: 2px 6px;
}

.color-pot {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px inset #333;
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .color-pot {
   width: 2.4rem;
  }
}

.color-pot.active {
  border: 6px inset grey;
}

.multicolor {
  display: inline-block;
  background: url('../images/multicolor.jpg') center/cover no-repeat;
}


.eraser {
  margin-right: 14rem;
}

.active-eraser {
  background-color: rgb(243, 122, 122);
}

.layout {
  width: 5rem;
  height: 1.3rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  background-color: #f1f1f1e7;
  border-radius: 40% 40% 0 0;
  padding-top: 5px;
}

@media (max-width: 768px) {
  .pad > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.6rem;
  }

  .layout {
    width: 18%;
  }
}

.sketch-pad {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  height: 520px;
  background-color: #f1f1f1;
  border: 3px solid #f1f1f1;
  margin: auto;
}

@media (max-width: 768px) {
  .sketch-pad {
    width: 100%;
    max-width: 430px;
    height: auto;
    aspect-ratio: 1;
  }
}

.grid-lines {
  border: 1px solid lightgrey;
}

@media (max-width: 768px) {
  .btns {
    display: flex;
    gap: 0.4rem;
  }

  .btns button {
    flex: 1;
    margin: 0;
  }
}